@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
	color: white !important;
	font-family: 'Lobster', cursive;
}

a{
	color: white;
}
.top-buffer { margin-top:20px; }

.bottom-buffer { margin-bottom:20px; }

.show-grid [class^=col-] {border:1px;}



