@import url(http://fonts.googleapis.com/css?family=Lobster);

@media all and (orientation:portrait) {
	#section1{
		background-size: 66%;
	}
}
@media all and (orientation:landscape) {
	#section1{
		background-size: 33%;
	}
}

body{
	color: white;
	font-family: 'Lobster', cursive;
}

#section1{
	background-image: url('/images/logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}



